[tool.poetry]
name = "aar_doc"
version = "1.0.1"
description = "A tool for generating docs for Ansible roles"
readme = "README.md"
authors = ["Miika Kankare <miika@kanka.re>", "Sebastian Gumprich <sebastian.gumprich@telekom.de>"]
license = "MIT"
homepage = "https://github.com/telekom-mms/aar_doc/"
repository = "https://github.com/telekom-mms/aar_doc/" 
documentation = "https://github.com/telekom-mms/aar_doc/" 

[tool.poetry.dependencies]
python = "^3.9"
click = "^8.1.3"
Jinja2 = "^3.1.2"
PyYAML = "^6.0"
typer = "^0.9.0"

[tool.poetry.dev-dependencies]
black = "^23.0.0"
mypy = "^0.950"
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
types-PyYAML = "^6.0.12"
isort = "^5.10.1"

[tool.poetry.scripts]
aar_doc = "aar_doc.cli:app"

[tool.pytest.ini_options]
addopts = [
  "--import-mode=importlib",
]
pythonpath = "."

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
