<!-- BEGIN_ANSIBLE_DOCS -->

# {{ role }}

{{ metadata }}

{{ argument_specs }}

<!-- We can do Jinja2 things -->
Here's our `defaults/main.yml`:

```yaml
{% include "defaults/main.yml" %}
```

<!-- We can also do Markdown things -->

> A quote!

<!-- END_ANSIBLE_DOCS -->
